body {
    font-family: "JetBrains Mono", monospace;
    background-color: #313131;
    color: white;
    margin-top: 60px;
    /* Adjust for the top bar height */
}

/* Sidenav */
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidenav .top-section {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.top-section .top-section-header {
    font-size: 1.8rem;
    margin: 0;
}

.top-section .top-section-text {
    color: white;
    font-size: 0.8rem;
}

/* Hover effects for the sidenav links */
.sidenav a {
    padding: 12px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #575757;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.sidenav .icon {
    margin-right: 20px;
    font-size: 20px;
}

.sidenav a.selected {
    color: #f1f1f1;
    background-color: #444;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.sidenav p,
.sidenav #logo {
    color: cornflowerblue;
}

.sidenav #logo {
    margin-right: 10px;
    width: 25%;
}

.sidenav p {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0;
}

#top-bar {
    background-color: #111;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

#top-bar p {
    margin: 0;
    width: 180px;
    text-align: center;
    font-size: 18px;
    color: white;
}

#main {
    margin: 30px 30px 0 250px;
}

.card-container {
    display: flex;
    gap: 35px;
    justify-content: flex-start;
}

.card {
    position: relative;
    background-color: #444;
    color: white;
    width: 30%;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10%;
    width: 80px;
    height: 80px;
    transform: translateY(-50%);
    opacity: 0.15;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.card p {
    margin-top: 0;
    color: #f1f1f1;
    position: relative;
    z-index: 1;
}

.card .card-text {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

#card-queries {
    background: green;
}

#card-blocked {
    background: cornflowerblue;
}

#card-blocked-percentage {
    background: #c28c27;
}

#card-blocked-domains {
    background: #960012;
}

#card-queries::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/7234/7234056.png");
}

#card-blocked::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/814/814158.png");
}

#card-blocked-percentage::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/134/134644.png");
}

#card-blocked-domains::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1150/1150575.png");
}

.update-animation {
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

/* Chart container */
.chart-container {
    background: #212121;
    padding: 1px 10px 35px 10px;
    border-radius: 12px;
    height: 400px;
    margin-top: 20px;
}

/* Notification styles */
.notification {
    background-color: #f8f9fa;
    border: 1px solid #d6d8db;
    padding: 16px;
    margin: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 1;
    transition: opacity 1s ease;
}

.notification-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.notification-message {
    font-size: 14px;
}

.notification.info {
    background-color: cornflowerblue;
    border-color: #c3e6cb;
}

.notification.error {
    background-color: red;
    border-color: #f5c6cb;
}

.notification.warning {
    background-color: #9cb50e;
    border-color: #ffeeba;
}

@media screen and (max-width: 1024px) {
    .sidenav {
        width: 180px;
    }

    .sidenav a {
        font-size: 18px;
    }

    #main {
        margin-left: 200px;
    }
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 0;
        padding-top: 20px;
        transition: width 0.3s ease-in-out;
    }

    .sidenav a {
        font-size: 16px;
        padding: 10px 15px;
    }

    #main {
        margin-left: 0;
    }

    #top-bar p {
        font-size: 14px;
    }
}

hr.rounded {
    border: 1px solid #313131;
    margin: 20px 10px 30px 10px;
}

#github-link {
    margin-top: auto; /* Pushes the GitHub link to the bottom */
    margin-bottom: 30px;
    color: #818181;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

#github-link:hover {
    color: #f1f1f1;
    background-color: #575757;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
