.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin: 20px;
}

.upstream-card {
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.upstream-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.upstream-card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.upstream-card-subheader {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.upstream-card-footer {
    color: #555;
    font-size: 0.85rem;
    margin: 5px 0;
}
